nav {
  background-color: #2196f3;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.nav-links,
.nav-auth {
  display: flex;
  gap: 20px;
  align-items: center;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.Log-ind-ud {
  background-color: white;
  color: #2196f3;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin: 0;

  &:hover {
    background-color: #f1f1f1;
  }
}
